@import url(//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css);

body {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

#map {
  width: 960px;
  height: 500px;
}

/* Popups */
.venue-popup {
  width: 962px;
  height: 512px;
}

.leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  background-opacity: 0.7;
}

.leaflet-popup-content {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

.venue-popup .leaflet-popup-content {
  padding-left: 30px;
}

.leaflet-popup-content h3 {
  color: rgb(192, 21, 91);
  margin-top: 0px;
  margin-bottom: 8px;
}


/* Project About Content */
#links {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 10px;
  /*display: none;*/
}

#about_content .content {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 970px;
  height: 510px;
  padding-left: 56px;
  background-color: white;
  font-size: 13px;
  overflow-y: scroll;
}
